<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Clue Count</th>
        <th>View</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let cat of categories">
        <td>{{cat.title}}</td>
        <td>{{cat.clues_count}}</td>
        <td><a [routerLink]="['/category', cat.id]"><i class="bi bi-binoculars"></i></a></td>
    </tr>
</tbody>
</table>
<button [disabled]="!previousEnabled" (click)="onPrevious()">Previous</button>
<button [disabled]="nextEnabled" (click)="onNext()">Next</button>

