<table *ngIf="clue">
    <tr>
        <td>Question</td>
        <td>{{clue.question}}</td>
    </tr>
    <tr>
        <td>Answer</td>
        <td>{{clue.answer}}</td>
    </tr>
    <tr>
        <td>Value</td>
        <td>{{clue.value}}</td>
    </tr>
    <tr>
        <td>Air Date</td>
        <td>{{clue.airdate | date:'longDate'}}</td>
    </tr>
</table>
