<nav class="navbar navbar-expand-lg">
  <span class="nav-brand"><img class="navbar-brand" src="/assets/ij-logo.png"/></span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'browse'">Browse</a>
      <a class="nav-item nav-link" [routerLink]="'play'">Play</a>
  </div>
</div>
</nav>


<router-outlet></router-outlet>
