<table class="table table-dark table-striped" *ngIf="category">
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Value
                </th>
                <th>
                    Air Date
                </th>
                <th>
                    View Answer
                </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clue of category.clues">
            <td>{{clue.question}}</td>
            <td>{{clue.value}}</td>
            <td>{{clue.airdate | date:'longDate'}}</td>
            <td (click)="viewAnswer(clue)"><i class="bi bi-eye-fill"></i></td>
        </tr>
    </tbody>
</table>
