<div class="bg-dark">
<div class="modal-header">
    <h4 class="modal-title">Jeopardy Clue Answer</h4>
    <button type="button" class="btn-close btn-light" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div>For the question:</div>
    <div>{{clue.question}}</div>
    <div>The answer is:</div>
    <div>{{clue.answer}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>